<section class="message-monitoringview-wrapper " data-ng-hide="message.hide">
  <div class="row">

      <div ng-hide="message.inReplyOfIDRoot != ''">

        <!-- Message controls -->
        <div class="btn-group">

          <!-- Reply -->
          <button
            title="{{ 'shared_message_reply' | translate }}"
            class="btn btn-default"
            ng-click="replying=!replying"
            ng-class="{'open': replying}"
            ng-disabled="message.updating || message.deleting">
            <i class="fa fa-comments"></i>
          </button>

          <!-- Edit message -->
          <button
            title="{{ 'shared_message_update' | translate }}"
            class="btn btn-default"
            ng-click="message.updating=!message.updating"
            ng-class="{'open': message.updating}"
            ng-if="isTopicUpdatableMsg || isTopicUpdatableAllMsg"
            ng-disabled="replying || message.deleting">
            <i class="fa fa-pencil"></i>
          </button>

          <!-- Delete message -->
          <button
            title="{{ 'shared_message_delete' | translate }}"
            class="btn btn-default"
            ng-click="message.deleting=!message.deleting"
            ng-class="{'open': message.deleting}"
            ng-disabled="replying || message.updating"
            ng-if="isTopicDeletableMsg || isTopicDeletableAllMsg">
            <i class="fa fa-trash"></i>
          </button>

        </div>

        <!-- Message actions -->
        <div class="btn-group">

          <!-- Add label -->
          <button
            title="{{ 'shared_message_label_add' | translate }}"
            class="btn btn-default"
            ng-class="{'open': addingLabel}"
            ng-click="addingLabel=!addingLabel">
            <i class="fa fa-tag"></i>
          </button>

        </div>

        <!-- Add Label -->
        <message-label message="message" topic="topic" is-displayed="addingLabel"></message-label>
      </div>

      <user-display username="message.author.username" fullname="message.author.fullname"></user-display>
      <span class="message-monitoringview-date">{{message.dateCreation * 1000| amCalendar}}</span>
      <span class="badge tlabel"
            style="background-color: {{label.color}}; color: {{MessageMonitoringviewItemCtrl.getBrightness(label.color)>128 ? '#000000' : '#ffffff' }}"
            data-ng-repeat="label in message.labels track by label.text">
          <i class="fa fa-tags"></i> {{label.text}}
          <a role="button" data-ng-click="MessageMonitoringviewItemCtrl.removeLabel(message, label.text)">X</a>
      </span>

      <div class="message-monitoringview-content" ng-bind-html="message.text | linky | nl2br | parseTags:message.tags"></div>

      <div class="message-monitoringview-reply" data-ng-show="replying">
          <textarea class="form-control" data-ng-model="MessageMonitoringviewItemCtrl.replyText"></textarea>
          <button class="btn btn-primary"
                  data-ng-click="MessageMonitoringviewItemCtrl.replyMessage(message); $event.stopPropagation();">
              <i class="fa fa-reply-all"></i>
              Reply
          </button>
          <button class="btn btn-default" data-ng-click="replying=false">
              <i class="fa fa-ban"></i>
              {{ 'shared_common_cancel' | translate}}
          </button>
      </div>
      <div class="message-reply" data-ng-show="message.updating">
          <textarea class="form-control" data-ng-model="message.text"></textarea>
          <button class="btn btn-primary"
                  data-ng-click="MessageMonitoringviewItemCtrl.updateMessage(message); $event.stopPropagation();">
              <i class="fa fa-pencil-square-o"></i>
              Update
          </button>
          <button class="btn btn-default" data-ng-click="message.updating=false">
              <i class="fa fa-ban"></i>
              {{ 'shared_common_cancel' | translate}}
          </button>
      </div>
      <div data-ng-show="message.deleting">
          <button class="btn btn-danger"
                  data-ng-click="MessageMonitoringviewItemCtrl.deleteMessage(message);">
              <i class="fa fa-trash"></i>
              Confirm Delete <span ng-show="message.replies.length">message and replies</span>
          </button>
          <button class="btn btn-default" data-ng-click="message.deleting=false">
              <i class="fa fa-ban"></i>
              {{ 'shared_common_cancel' | translate}}
          </button>
      </div>
  </div>

  <span class="label label-info" ng-show="message.loading">Please Wait, Loading...</span>

  <div class="monitoringview-replies-right" ng-if="message.replies.length">
    <button title="search in replies" class="btn btn-xs" ng-if="!message.searching" data-ng-click="message.searching=true">
      <i class="fa fa-search"></i>
    </button>

    <div class="input-group" ng-if="message.searching">
      <div class="input-group-addon" data-ng-click="message.searching=!message.searching"><i class="fa fa-search"></i></div>
      <input type="search" class="form-control" data-ng-model="message.search" placeholder="search in reply">
      <div class="input-group-addon" data-ng-click="message.searching=false"><i class="fa fa-ban"></i></div>
    </div>

    <span class="label label-default">Display {{message.limitTo}} on {{message.replies.length}} event(s)</span>
    <table class="table table-striped">
      <tbody>
      <tr data-ng-repeat="reply in message.replies | filter:message.search | limitTo:message.limitTo">
        <td>
          <user-display username="reply.author.username" fullname="reply.author.fullname"></user-display>
          <span class="message-monitoringview-date" title="creation: {{reply.dateCreation * 1000| amCalendar}}, update: {{reply.dateUpdate * 1000| amCalendar}}">
            {{reply.dateCreation * 1000| amCalendar}}
          </span>
          <div ng-bind-html="reply.text | linky | nl2br | parseTags:reply.tags"></div>
        </td>
     </tr>
     </tbody>
   </table>
   <button class="btn btn-default" data-ng-show="message.limitTo != message.replies.length && message.limitTo <= message.replies.length" data-ng-click="message.limitTo=message.replies.length">Display All</span>
 </div>

</section>
